<div class="contact anchor">
	<h1>Contact Us</h1>
	<%= flash[:notice] %>
	<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
		<div class="row">
			<div class="form-group">
				<%= form.label :name %>
				<%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
			</div><!-- end .form-group -->
			<div class="form-group">
				<%= form.label :email %>
				<%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
			</div><!-- end .form-group -->			
			<div class="form-group">
				<%= form.label :message %>
				<%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
			</div><!-- end .form-group -->
		</div><!-- <end .row> -->
			<%= form.submit "Send", class: "form_label" %>
			<% end %>
</div><!-- end .contact -->