<div class="container product-show">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <div class="visible-xs-block">
      <p class="product-name">
        <%= @product.name %>
      </p>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= image_tag("#{@product.image_url}", class: "img-responsive product-img") %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="hidden-xs">
        <p class="product-name">
          <%= @product.name %>
        </p>
      </div>
      <div class="product-anchor"></div>
      <div>
        <p>
          <strong>Description:</strong>
          <br>
          <%= @product.description %>
        </p>

        <p>
          <strong>Image url:</strong>
          <br>
	        <%= @product.image_url %>
        </p>
      </div>

      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </div>

  </div><!-- end row -->
</div><!-- end .container .product-show -->
