<!DOCTYPE html>
<html>
  <head>
    <title>Storeapp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Open+Sans+Condensed:300" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- ********** -->
    <!-- Navigation -->
    <!-- ********** -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <%= render 'simple_pages/nav' %>
    </nav><!-- end Navigation Bar -->

    <div class="anchor"></div>


    <%= yield %>



    <footer>
      <%= render 'simple_pages/footer' %>
    </footer>

  </body>
</html>
